/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    
  }

  .content{
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;

 
  }
  .sidebar{
    padding: 1rem;
    background-color: #be123c;
    color: #fff1f2;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(12, min-content);
    gap: 1rem;
    
  }
  h1{
    font-size: 2rem;

  }
  div[class$="icon"]{
    width: 2rem;
  }
  header{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
  header .search{
    display: flex;
  }
  header .profile{
    display: flex;
  }
  main{
    background-color: #fff1f2;
    padding: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    gap: 25px;
  }
 .sidebar img{
    filter: invert(94%) sepia(19%) saturate(26%) hue-rotate(62deg) brightness(106%) contrast(108%);
    overflow: visible; /*In case an image is not shown, the alt atributte shows correctly*/
  }
  img{
    width: 100%;
    height: 100%;
  }
  img[src*="account-circle"]{
    width: 32px;
    height: auto;
  }
  .projects-container{

    grid-row: 1 / 3;
    grid-column: 1 / 2 ;
    display: flex;
    flex-direction: column;
    gap: 25px;
    }
  
    .card-section{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 25px;
    }
  .card{
    background-color: white;
    height: min-content;
    font-size: 0.9rem;
  }

  .announcements-container{
    grid-column: 2 / 3;
    grid-row: 1 / 2;


  }

  .trending{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }