/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
 /**/
  .container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    
  }

  .content{
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr; 
  }
  .sidebar{
    padding: 1rem;
    background-color: #be123c;
    color: #fff1f2;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(12, min-content);
    gap: 1rem;
    align-items: center;
  }
  h1{
    font-size: 2rem;

  }
  div[class$="icon"]{
    width: 2rem;
  }
  header{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem 2rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    row-gap: 1rem;
    align-items: center;

  }
  header > div, 
  ul{
    display: flex;
    font-weight: bold;
    gap: 1rem;
    
  }
  .mini,
  nav{
    justify-self: end;
    padding-right: 1rem;
  }
  .profile{
    font-size: 1rem;
    align-self: center;
  }
  .profile span{
    font-size: 1.5rem;
  }
  header .profile img{
    width: 5rem;
    height: 100%;
  }
 
  .mini img[src*="account-circle"]{
    width: 32px;
    height: auto;
  }
  input[type="search"]{
    border-radius: 15px;
    background-color: #E2E8F0;
    border:none;
    height: 32px;
    width: max(400px, 600px);
    padding-left: 20px;

  }
  ul{
    justify-content: flex-start;
    padding-left: 0;
  }
  ul li{
    text-align: center;
    width: 7rem;
    list-style: none;
    justify-self: space-between;
    background-color: #be123c;
    padding: 4px;
    border-radius: 20px;
  }
  li:hover{
    background-color: #fb7185;
  }
  ul li a{
    display: block;
    text-decoration: none;
    color: white;
  }

  .sidebar img{
    filter: invert(94%) sepia(19%) saturate(26%) hue-rotate(62deg) brightness(106%) contrast(108%);
    overflow: visible; /*In case an image is not shown, the alt atributte shows correctly*/
  }

  main{
    background-color: #E2E8F0;
    padding: 1.2rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    
  }
 
  .projects-container{
    grid-row: 1 / 3;
    grid-column: 1 / 2 ;
    display: flex;
    flex-direction: column;
    }

    .projects-container,
    .announcements-container,
    .trending{
      gap: 8px;
    }

    .card-section{
      flex: 1;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 25px;
    }

    .projects-container .card{
      border-left: 8px solid;
      border-left-color: #be123c;

    }
    .card{
      background-color: white;
      font-size: 0.9rem;
    }
    .card-icons{
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
    .card-section .card{
      display: grid;
    }
    .card-section .card .card-icons:last-child{
    }
    .card-icons img{
      width: 25px;
      height: auto;
    }
    .announcements-container{
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: grid;
      grid-template-rows: min-content 1fr;
    }
    .projects-container .card,
    .announcements-container section,
    .trending-profiles-container
    {
      border-radius: 10px;
      background-color: #fff;
      padding: 1.3rem 2rem;

    }
    .section-title{
      font-size: 1.4rem;
    }
    .projects-container .card .title{
      font-size: 1.2rem;
    }
    .announcements-container .card .title{
      font-size: 1rem;
    }
    
    hr{
      margin: 10px 0;
    }
    div[class*="title"],
    .title{
      font-weight: 800;
    }
  .trending{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: min-content 1fr;
  }
  .trending-profiles-container{
    display: grid;
    grid-template-rows: repeat(4, min-content);
    align-content: space-around;
    row-gap: 20px;
  }
  .trending-profile{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;

  }
  
  .trending-profile img{
    width: 40px;

  }
  .trending .profile p:nth-child(2){
    color: #9B9B9B;
  }